* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: url(@/assets/images/body-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.mainbox {
  width: 80vw;
  height: 80vh;
  margin: 10vh auto;
  background-color: rgba(0, 0, 0, 0.504);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}